<html>
	<head>
		<title>Doll House</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
	</head>
	<body>
		<h1>
			Image
		</h1>
		{% load static %}
		<div>
			<img src="/media/{{ filename }}" />
		</div>
		<hr />
		<h2>Image Recognition Table</h2>
		<table border=2 cellpadding="2" align="center">
			<tr>
				<th>Human String</th>
				<th>Score</th>
			</tr>
			{% for item in ret_list %}
			<tr>
				{% for i in item %}
					<td>{{ i }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		<hr />
		<div>
			<a href="/">Home Page</a>
			&emsp;&emsp;&emsp;&emsp;
			<a href="/image_sniffer/">Previous Page</a>
		</div>
	</body>
</html>