<html>
	<head>
		<title>Doll House</title>
		<style>
			h1 {
				font-size: 2em;
				font-weight: bold;
				color: #777777;
				text-align: center
			}
			table {
				margin: auto;
			}
		</style>
	</head>
	<body>
		<h1>Image Sniffer</h1>
		<table>
			<tr>
				<td>
					<form action="{{ request.build_absolute_uri }}upload_and_handle/" method="POST" enctype="multipart/form-data">
						<input type="file" name="file" /><br />
						<input type="submit" value="Upload" />
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>